* {
    margin: 0;
    padding: 0;

}
.navbar>a{

    color:#FACE7F;
}
.navbar>a:hover{

    color:#f7a611;
   
}
.navbar .nav-link{

    color:#911F27;
}
.nav-pills .nav-item .nav-link.active{
    background-color:#911F27;
}


.second-heading {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    flex-wrap: wrap;
}

.trend-prod {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.fourth-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20%;
}

.feartured-items {
    background-color: #FACE7F;
    display: flex;
    justify-content: center;
    height: auto;
   padding: 40px;
}

.left-feartured {
    justify-content: space-around;
    margin: auto;
}

.right-reartured {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
}

#scrollspyHeading5 {
    display: flex;
    justify-content: center
}

.new-product {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.cardNP {
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;

}

.login {
    display: flex;
    margin: 10px 40%;
    flex-direction: column;
}
/*.happyCustomers{
padding-block: 4vh;
    color:#911F27;*/

.happyCustomers {

    color: #911F27;
    background-color: #FACE7F;
    text-align: center;
    padding-inline: 20vw;
}

.ourBlog{
    margin-block:4vh ;
  display: flex;
  flex-wrap: wrap;

    text-align: center;
    
   justify-content: center;
}
.ourBlog>div:first-child{

   width: 100%;
   color: #911F27;
   font-weight: bold;
}
.card{
    margin-top: 1vh;
    color: #911F27;
    margin-inline: 4vw;
}
footer{
    padding-block: 1vh;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #911F27;
    color: white;
    }


    .d-flex .btn{
        background-color:#911F27;
        color:#fff;
    }

    .bodyLogin{

    background-color: #FACE7F;
    
    }
    .login{
        display:flex;
        flex-direction: column;
        background-color:#911F27;
        align-items: center;
        text-align: center;
        color:#FACE7F;
       padding: 12vw;
       border-radius: 5vh;

    }
    .login a{

        color:#FACE7F;
    }
    .login input{

       border-radius: 2vh;
    }

    /*testISMAIL*/



    @media screen and (max-width: 768px) {
        #navbar-example2 {
           display: flex;
           flex-direction: column;
           align-items: center;
        } 
        #navbar-example2 .nav-pills {
           width: 100%; 
        }
        #navbar-example2 .nav-item {
           width: 100%; 
        }
        #navbar-example2 .nav-link {
           text-align: center; 
        }
        #navbar-example2 .d-flex {
            align-self: center; 
         }
     }
     

.panel-titles{
    display: flex;
    justify-content: space-around;
}
.panel-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}
.card-body{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.panel-button{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.index-btn{
    border-color: transparent;
    background-color: #FACE7F;
    color:#911F27;
    padding: 2px;
    margin-top: 5px;
}
.position-relative{
    margin-right: 5px;
}
.btn-primary{
    background-color: white;

}
.input-group-text {
    border: transparent;
    background-color: transparent;
}
.preference-button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.selected {
background-color: #007bff;
color: #fff;
}
#bodyPreferences{
margin: 0% 25%;
}
.preference-button{
    background-color: #911F27;
    color: white;
}
#savePreferencesBtn{
    background-color: #911F27;
    color: white;
}
#selectedPreferences{
    background-color: #FACE7F;
    color: #911F27;
    border-color: #911F27;
}
.preferences-title{
    color: #911F27;
}